.container {
    width: 400px;
    margin: 50px auto;
    background-color: beige;
    padding: 25px;
    box-shadow: 0 5px 20px 5px rgb(211, 211, 212);
}

.button {
    margin-top: 20px;

}

.result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}